<div class="w-10">
    <div class="d-flex mt-2 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512">
            <path fill="white"
                d="M468.53 236.03H486v39.94h-17.47zm-34.426 51.634h17.47v-63.328h-17.47zm-33.848 32.756h17.47V191.58h-17.47zm-32.177 25.276h17.47V167.483h-17.47v178.17zm-34.448-43.521h17.47v-92.35h-17.47zm-34.994 69.879h17.47v-236.06h-17.525v236.06zM264.2 405.9h17.47V106.1H264.2zm-33.848-46.284h17.47V152.383h-17.47v207.234zm-35.016-58.85h17.47v-87.35h-17.47zm-33.847-20.823h17.47V231.98h-17.47v48.042zm-33.848 25.66h17.47v-99.24h-17.47v99.272zm-33.302 48.04h17.47V152.678H94.34v201zm-33.847-30.702h17.47V187.333h-17.47v135.642zM26 287.664h17.47v-63.328H26z" />
        </svg>
        <p class="px-3 mt-2">Sound Grooves</p>
    </div>
    <div class="mt-5">
        <b>
            <p>MENU</p>
        </b>
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="mt-1" width="20px" height="20px" viewBox="0 0 24 24">
                <path fill="white"
                    d="M6.5 17.5L14 14l3.5-7.5L10 10zM12 13q-.425 0-.712-.288T11 12q0-.425.288-.712T12 11q.425 0 .713.288T13 12q0 .425-.288.713T12 13m0 9q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22" />
            </svg>
            <p class="text px-3 m">Explore</p>
        </div>
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="23px" class="mt-1" height="23px" viewBox="0 0 24 24">
                <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6" />
            </svg>
            <p class="text px-3 mt-1">Search</p>
        </div>

        <div class="d-flex mt-3 w justify-content-between ">
            <div class="con d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24">
                    <path fill="white"
                        d="M7 3h2v18H7zM4 3h2v18H4zm6 0h2v18h-2zm9.062 17.792l-6.223-16.89l1.877-.692l6.223 16.89z" />
                </svg>
                <b class="px-3 mt-1 ">
                    <p>Your Libary</p>
                </b>
            </div>
            <div class="con">
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-1" width="25px" height="25px" viewBox="0 0 24 24">
                    <path fill="white"
                        d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1" />
                </svg>
            </div>
        </div>
        <div class="height mb-3 ">
            <div class="bg-dark w  mb-3 br p-3">
                <b class="m">Create your playlist</b>
                <p class="text-scondary mt-2">It's easy, we'll help </p>
                <button type="button" class="btn bg-white b px-4">Create playlist</button>
            </div>
            <div class="bg-dark w br mb-3 p-3">
                <b class="m">Let's find some podcasts to follow</b>
                <p class="text-scondary mt-2">We'll keep you updated on new episodes</p>
                <button type="button" class="btn bg-white b px-3">Browse popcasts</button>
            </div>
        </div>
    </div>
</div>
